<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <!-- <directory suffix="Test.php">./tests</directory> -->
            <file>./tests/BotDetailsTest.php</file>
            <file>./tests/BotMessagesTest.php</file>
            <file>./tests/ConversationsTest.php</file>
            <file>./tests/ChatsTest.php</file>
            <file>./tests/ChannelsTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>
